<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Url shortener page</title>
<link rel="stylesheet " href="/css/style.css"/>
</head>
<body>
	<div class="container">

		<div class="header center-display">
			<p>Url Shortener</p>
		</div>
		<div class="form-body">
			<form class="grid-body">

				Long url: <input type="text" name='longUrl' id='longUrl'>
			</form>

			<div id="warning" hidden=true></div>

			<div class="center-display">
				<input type="submit" class="form-submit" value="Get short url"
					onclick="getTinyUrl()"> <input type="Submit"
					class="form-clear" value="Clear" onclick="ClearFields()">

			</div>

			<div class="grid-body">

				Short url:<input type="text" name='shortUrl' id='shortUrl'>

				<div class="center-display">
					<input type="submit" class="go-button-redirect" value="Go"
						onclick="redirect()">
				</div>

			</div>
		</div>

	</div>

	<script src="/js/main.js" type="text/javascript"></script>
</body>

</html>